NODE_ENV=development
PORT=3000
DATABASE=mongodb+srv://
DATABASE_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

EMAIL_PORT=
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=

EMAIL_FROM=

SENDINBLUE_USERNAME=
SENDINBLUE_PASSWORD=

STRIPE_SECRET_KEY=